@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');



      .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
      }
      body {
        
        background-color: #f8f9fa;
        color: #191c1d;
      }
      .asymmetric-grid {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        gap: 2rem;
      }
      @media (max-width: 1024px) {
        .asymmetric-grid {
          grid-template-columns: 1fr;
        }
      }

